<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <div class="container main display-1 fw-semibold">
            <h1 class="drop-text">E aí, galera!!</h1>
            <h2 class="drop-text-2">Esta é primeira aplicação com Angular JS 😅</h2>
            <p class="drop-text-3">Acessem meu GitHub para acompanhar minha evolução nesse novo mundo...</p>
            <p class="drop-text-3">Guilherme moura
                &#123; <a href="https://github.com/guilhermermr/" target="_blank">Github <i class="fa fa-github"></i></a> 
                 | <a href="https://www.linkedin.com/in/guilherme-moura-2aa888a9/" target="_blank">Linkedin <i class="fa fa-linkedin-square"></i></a> 
                 | <a href="https://guilhermemoura.com" target="_blank">Meu site <i class="fa fa-link"></i></a>
                 &#125;
            </p>
                 
        </div>
    </section>
</body>
</html>